# **1. Overview**
Tanzania, a developing nation, faces challenges in supplying its more than 57,000,000 inhabitants with water that is safe for drinking. It is extremely difficult for people to find clean, sanitary water if they do not reside close to one of the three large lakes that border the country, as one-third of the country is arid to semi-arid. Consequently, Tanzanians rely heavily on groundwater as their primary supply of water;


According to the Sustainable Development Goals (SDG) standards, just 61% of Tanzanian households presently have access to a basic water supply, 32% to basic sanitation, and 48% to basic hygiene. As a direct result, Tanzania has had to deal with mortality and illness, with the poor and vulnerable, women, and children bearing the brunt of this burden. Inadequate WASH services are thought to be the cause of 31,000 fatalities annually in Tanzania, accounting for almost 10% of avoidable deaths. These deaths also cost the country more than $2.4 billion annually in lost productivity and additional medical expenses.

The nation already has a large number of water points (stations), but some of them require maintenance, while others have completely failed.

The project aims to builds classification model, using an iterative approach, to predict the condition of water wells in Tanzania. The dataset for modelling was obtained from data provided by Taarifa and the Tanzanian Ministry of water. 

# **2. Business and Data Understanding**
## **2.1 Business Problem**
Victoria Inc. has been procured by the Government of Tanzania on a consultancy basis to study the severe water crisis experienced by the country and propose a data driven solution to clean water accessibility. Victoria Inc. is tasked with coming up with a  model that predicts the operating condition of the water points. This model will assist the government to:
- Prioritize maintenance and repairs based on operating status;
- Understand the failure rate of the water points;
- Optimize allocation of resources to restore the water points.  

The objective of Victoria Inc is to:
- Develop a predictive model for classifying water points;
- Identify factors that affect water points functionality; 

Proposed Solution:
- Develop a machine learning classification model with a recall score of 90%.

Performance Metrics:
- Acurracy
- Precision
- Recall
- F1-score

## **2.2 Data Understanding**
###  **2.2.1 Data Source**
The dataset employed in the study was downloaded from https://www.drivendata.org/competitions/7/data/

### **2.2.2 Dataset Features**
The following features about the water points are provided:
- *amount_tsh* - Total static head (amount water available to waterpoint)
- *date_recorded* - The date the row was entered
- *funder* - Who funded the well
- *gps_height* - Altitude of the well
- *installer* - Organization that installed the well
- *longitude* - GPS coordinate
- *latitude* - GPS coordinate
- *wpt_name* - Name of the waterpoint if there is one
- *num_private* -
- *basin* - Geographic water basin
- *subvillage* - Geographic location
- *region* - Geographic location
- *region_code *- Geographic location (coded)
- *district_code* - Geographic location (coded)
- *lga* - Geographic location
- *ward* - Geographic location
- *population* - Population around the well
- *public_meeting* - True/False
- *recorded_by *- Group entering this row of data
- *scheme_management* - Who operates the waterpoint
- *scheme_name* - Who operates the waterpoint
- *permit* - If the waterpoint is permitted
- *construction_year* - Year the waterpoint was constructed
- *extraction_type* - The kind of extraction the waterpoint uses
- *extraction_type_group* - The kind of extraction the waterpoint uses
- *extraction_type_class* - The kind of extraction the waterpoint uses
- *management* - How the waterpoint is managed
- *management_group* - How the waterpoint is managed
- *payment* - What the water costs
- *payment_type* - What the water costs
- *water_quality* - The quality of the water
- *quality_group* - The quality of the water
- *quantity* - The quantity of water
- *quantity_group* - The quantity of water
- *source* - The source of the water
- *source_type* - The source of the water
- *source_class* - The source of the water
- *waterpoint_type* - The kind of waterpoint
- *waterpoint_type_group* - The kind of waterpoint

The target variable has three possible values:
- **functional** - the waterpoint is operational and there are no repairs needed
- **functional needs repair** - the waterpoint is operational, but needs repairs
- **non functional** - the waterpoint is not operational

## **2.3 Methodology**
The adopted structure for the project was CRISP-DM that entails undertaking Business Understanding; Data Understanding; Data Preparation; Data Cleaning and Explatory Data Analysis(EDA); Modelling; Conclusion and Recommendations.

# **3.Data Cleaning and EDA**
## **3.1 Data Cleaning & Preparation**
Importing packages

In [80]:
#importing standard packages
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline

In [81]:
# loading the training data set
data_train_set = pd.read_csv("data/training_set_values.csv", index_col="id")
data_train_set

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60739,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,Pangani,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
27263,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,Rufiji,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
37057,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,Rufiji,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
31282,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,Rufiji,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
26348,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,Wami / Ruvu,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [82]:
# importing the test data set
data_test_set = pd.read_csv("data/test_set_values.csv", index_col="id")
data_test_set

,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
50785,0.0,2013-02-04,Dmdd,1996,DMDD,35.290799,-4.059696,Dinamu Secondary School,0,Internal,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,other,other
51630,0.0,2013-02-04,Government Of Tanzania,1569,DWE,36.656709,-3.309214,Kimnyak,0,Pangani,...,never pay,soft,good,insufficient,insufficient,spring,spring,groundwater,communal standpipe,communal standpipe
17168,0.0,2013-02-01,NaN,1567,NaN,34.767863,-5.004344,Puma Secondary,0,Internal,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,other,other
45559,0.0,2013-01-22,Finn Water,267,FINN WATER,38.058046,-9.418672,Kwa Mzee Pange,0,Ruvuma / Southern Coast,...,unknown,soft,good,dry,dry,shallow well,shallow well,groundwater,other,other
49871,500.0,2013-03-27,Bruder,1260,BRUDER,35.006123,-10.950412,Kwa Mzee Turuka,0,Ruvuma / Southern Coast,...,monthly,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39307,0.0,2011-02-24,Danida,34,Da,38.852669,-6.582841,Kwambwezi,0,Wami / Ruvu,...,never pay,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
18990,1000.0,2011-03-21,Hiap,0,HIAP,37.451633,-5.350428,Bonde La Mkondoa,0,Pangani,...,annually,salty,salty,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
28749,0.0,2013-03-04,NaN,1476,NaN,34.739804,-4.585587,Bwawani,0,Internal,...,never pay,soft,good,insufficient,insufficient,dam,dam,surface,communal standpipe,communal standpipe
33492,0.0,2013-02-18,Germany,998,DWE,35.432732,-10.584159,Kwa John,0,Lake Nyasa,...,never pay,soft,good,insufficient,insufficient,river,river/lake,surface,communal standpipe,communal standpipe
68707,0.0,2013-02-13,Government Of Tanzania,481,Government,34.765054,-11.226012,Kwa Mzee Chagala,0,Lake Nyasa,...,never pay,soft,good,dry,dry,spring,spring,groundwater,communal standpipe,communal standpipe

In [83]:
# importing the training set labels
data_train_labels = pd.read_csv("data/training_set_labels.csv", index_col="id")
data_train_labels

         status_group
id
69572      functional
8776       functional
34310      functional
67743  non functional
19728      functional
...               ...
60739      functional
27263      functional
37057      functional
31282      functional
26348      functional

[59400 rows x 1 columns]

In [84]:
#merging the training dataset with the train labels
data = pd.merge(data_train_labels, data_train_set, on="id", how="inner")
data

,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
id,,,,,,,,,,,,,,,,,,,,,
69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,0,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,0,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
37057,functional,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,0,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,0,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,0,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [85]:
# creating new index for the merged dataset
data.reset_index(inplace=True)
data

,id,status_group,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,...,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,functional,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,...,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,functional,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,...,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,functional,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,...,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,non functional,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,...,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,functional,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,...,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,functional,10.0,2013-05-03,Germany Republi,1210,CES,37.169807,-3.253847,Area Three Namba 27,...,per bucket,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
59396,27263,functional,4700.0,2011-05-07,Cefa-njombe,1212,Cefa,35.249991,-9.070629,Kwa Yahona Kuvala,...,annually,soft,good,enough,enough,river,river/lake,surface,communal standpipe,communal standpipe
59397,37057,functional,0.0,2011-04-11,NaN,0,NaN,34.017087,-8.750434,Mashine,...,monthly,fluoride,fluoride,enough,enough,machine dbh,borehole,groundwater,hand pump,hand pump
59398,31282,functional,0.0,2011-03-08,Malec,0,Musa,35.861315,-6.378573,Mshoro,...,never pay,soft,good,insufficient,insufficient,shallow well,shallow well,groundwater,hand pump,hand pump
59399,26348,functional,0.0,2011-03-23,World Bank,191,World,38.104048,-6.747464,Kwa Mzee Lugawa,...,on failure,salty,salty,enough,enough,shallow well,shallow well,groundwater,hand pump,hand pump

In [86]:
# checking the datatypes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 41 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   status_group           59400 non-null  object
 2   amount_tsh             59400 non-null  float64
 3   date_recorded          59400 non-null  object
 4   funder                 55765 non-null  object
 5   gps_height             59400 non-null  int64
 6   installer              55745 non-null  object
 7   longitude              59400 non-null  float64
 8   latitude               59400 non-null  float64
 9   wpt_name               59400 non-null  object
 10  num_private            59400 non-null  int64
 11  basin                  59400 non-null  object
 12  subvillage             59029 non-null  object
 13  region                 59400 non-null  object
 14  region_code            59400 non-null  int64
 15  district_code          59400 non-null  int64
 16  lga                    59400 non-null  object
 17  ward                   59400 non-null  object
 18  population             59400 non-null  int64
 19  public_meeting         56066 non-null  object
 20  recorded_by            59400 non-null  object
 21  scheme_management      55523 non-null  object
 22  scheme_name            31234 non-null  object
 23  permit                 56344 non-null  object
 24  construction_year      59400 non-null  int64
 25  extraction_type        59400 non-null  object
 26  extraction_type_group  59400 non-null  object
 27  extraction_type_class  59400 non-null  object
 28  management             59400 non-null  object
 29  management_group       59400 non-null  object
 30  payment                59400 non-null  object
 31  payment_type           59400 non-null  object
 32  water_quality          59400 non-null  object
 33  quality_group          59400 non-null  object
 34  quantity               59400 non-null  object
 35  quantity_group         59400 non-null  object
 36  source                 59400 non-null  object
 37  source_type            59400 non-null  object
 38  source_class           59400 non-null  object
 39  waterpoint_type        59400 non-null  object
 40  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(31)
memory usage: 18.6+ MB

The data set is made up of 41 columns and 59,400 rows. The data frame features has 3 float datatype; 7 integer datatype and 31 object datatype.

In [87]:
#checking for duplicates
data.duplicated().sum()

0

The data set had zero duplicates

In [88]:
# checking null values
data.isna().sum()

id                           0
status_group                 0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

The columns "funder", "installer", "subvillage", "public_meeting", "scheme_management", "scheme_name", and "permit" had 3635, 3655, 371, 3334, 3877, 28166 and 3056 missing (null) values respectively. Scheme_name has the highest number of missing values.

In [89]:
for col in data.columns:
    print(data[col].value_counts())

69572    1
27851    1
6924     1
61097    1
48517    1
        ..
59036    1
56446    1
3855     1
52786    1
26348    1
Name: id, Length: 59400, dtype: int64
functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64
0.0         41639
500.0        3102
50.0         2472
1000.0       1488
20.0         1463
            ...
6300.0          1
120000.0        1
138000.0        1
350000.0        1
59.0            1
Name: amount_tsh, Length: 98, dtype: int64
2011-03-15    572
2011-03-17    558
2013-02-03    546
2011-03-14    520
2011-03-16    513
             ...
2011-09-11      1
2011-08-31      1
2011-09-21      1
2011-08-30      1
2013-12-01      1
Name: date_recorded, Length: 356, dtype: int64
Government Of Tanzania    9084
Danida                    3114
Hesawa                    2202
Rwssp                     1374
World Bank                1349
                          ...
Rarymond Ekura               1
Justine Marwa                1
Municipal Council            1
Afdp                         1
Samlo                        1
Name: funder, Length: 1897, dtype: int64
 0       20438
-15         60
-16         55
-13         55
 1290       52
         ...
 2378        1
-54          1
 2057        1
 2332        1
 2366        1
Name: gps_height, Length: 2428, dtype: int64
DWE                17402
Government          1825
RWE                 1206
Commu               1060
DANIDA              1050
                   ...
Wizara  ya maji        1
TWESS                  1
Nasan workers          1
R                      1
SELEPTA                1
Name: installer, Length: 2145, dtype: int64
0.000000     1812
37.375717       2
38.340501       2
39.086183       2
33.005032       2
             ...
35.885754       1
36.626541       1
37.333530       1
38.970078       1
38.104048       1
Name: longitude, Length: 57516, dtype: int64
-2.000000e-08    1812
-6.985842e+00       2
-6.980220e+00       2
-2.476680e+00       2
-6.978263e+00       2
                 ...
-3.287619e+00       1
-8.234989e+00       1
-3.268579e+00       1
-1.146053e+01       1
-6.747464e+00       1
Name: latitude, Length: 57517, dtype: int64
none                       3563
Shuleni                    1748
Zahanati                    830
Msikitini                   535
Kanisani                    323
                           ...
Kwa Medadi                    1
Kwa Kubembeni                 1
Shule Ya Msingi Milanzi       1
Funua                         1
Kwa Mzee Lugawa               1
Name: wpt_name, Length: 37400, dtype: int64
0       58643
6          81
1          73
5          46
8          46
        ...
42          1
23          1
136         1
698         1
1402        1
Name: num_private, Length: 65, dtype: int64
Lake Victoria              10248
Pangani                     8940
Rufiji                      7976
Internal                    7785
Lake Tanganyika             6432
Wami / Ruvu                 5987
Lake Nyasa                  5085
Ruvuma / Southern Coast     4493
Lake Rukwa                  2454
Name: basin, dtype: int64
Madukani        508
Shuleni         506
Majengo         502
Kati            373
Mtakuja         262
               ...
Kipompo           1
Chanyamilima      1
Ikalime           1
Kemagaka          1
Kikatanyemba      1
Name: subvillage, Length: 19287, dtype: int64
Iringa           5294
Shinyanga        4982
Mbeya            4639
Kilimanjaro      4379
Morogoro         4006
Arusha           3350
Kagera           3316
Mwanza           3102
Kigoma           2816
Ruvuma           2640
Pwani            2635
Tanga            2547
Dodoma           2201
Singida          2093
Mara             1969
Tabora           1959
Rukwa            1808
Mtwara           1730
Manyara          1583
Lindi            1546
Dar es Salaam     805
Name: region, dtype: int64
11    5300
17    5011
12    4639
3     4379
5     4040
18    3324
19    3047
2     3024
16    2816
10    2640
4     2513
1     2201
13    2093
14    1979
20    1969
15    1808
6     1609
21    1583
80    1238
60    1025
90     917
7      805
99     423
9      390
24     326
8      300
40       1
Name: region_code, dtype: int64
1     12203
2     11173
3      9998
4      8999
5      4356
6      4074
7      3343
8      1043
30      995
33      874
53      745
43      505
13      391
23      293
63      195
62      109
60       63
0        23
80       12
67        6
Name: district_code, dtype: int64
Njombe          2503
Arusha Rural    1252
Moshi Rural     1251
Bariadi         1177
Rungwe          1106
                ...
Moshi Urban       79
Kigoma Urban      71
Arusha Urban      63
Lindi Urban       21
Nyamagana          1
Name: lga, Length: 125, dtype: int64
Igosi              307
Imalinyi           252
Siha Kati          232
Mdandu             231
Nduruma            217
                  ...
Uchindile            1
Thawi                1
Uwanja wa Ndege      1
Izia                 1
Kinungu              1
Name: ward, Length: 2092, dtype: int64
0       21381
1        7025
200      1940
150      1892
250      1681
        ...
6330        1
5030        1
656         1
948         1
788         1
Name: population, Length: 1049, dtype: int64
True     51011
False     5055
Name: public_meeting, dtype: int64
GeoData Consultants Ltd    59400
Name: recorded_by, dtype: int64
VWC                 36793
WUG                  5206
Water authority      3153
WUA                  2883
Water Board          2748
Parastatal           1680
Private operator     1063
Company              1061
Other                 766
SWC                    97
Trust                  72
None                    1
Name: scheme_management, dtype: int64
K                       682
None                    644
Borehole                546
Chalinze wate           405
M                       400
                       ...
Mradi wa maji Vijini      1
Villagers                 1
Magundi water supply      1
Saadani Chumv             1
Mtawanya                  1
Name: scheme_name, Length: 2696, dtype: int64
True     38852
False    17492
Name: permit, dtype: int64
0       20709
2010     2645
2008     2613
2009     2533
2000     2091
2007     1587
2006     1471
2003     1286
2011     1256
2004     1123
2012     1084
2002     1075
1978     1037
1995     1014
2005     1011
1999      979
1998      966
1990      954
1985      945
1980      811
1996      811
1984      779
1982      744
1994      738
1972      708
1974      676
1997      644
1992      640
1993      608
2001      540
1988      521
1983      488
1975      437
1986      434
1976      414
1970      411
1991      324
1989      316
1987      302
1981      238
1977      202
1979      192
1973      184
2013      176
1971      145
1960      102
1967       88
1963       85
1968       77
1969       59
1964       40
1962       30
1961       21
1965       19
1966       17
Name: construction_year, dtype: int64
gravity                      26780
nira/tanira                   8154
other                         6430
submersible                   4764
swn 80                        3670
mono                          2865
india mark ii                 2400
afridev                       1770
ksb                           1415
other - rope pump              451
other - swn 81                 229
windmill                       117
india mark iii                  98
cemo                            90
other - play pump               85
walimi                          48
climax                          32
other - mkulima/shinyanga        2
Name: extraction_type, dtype: int64
gravity            26780
nira/tanira         8154
other               6430
submersible         6179
swn 80              3670
mono                2865
india mark ii       2400
afridev             1770
rope pump            451
other handpump       364
other motorpump      122
wind-powered         117
india mark iii        98
Name: extraction_type_group, dtype: int64
gravity         26780
handpump        16456
other            6430
submersible      6179
motorpump        2987
rope pump         451
wind-powered      117
Name: extraction_type_class, dtype: int64
vwc                 40507
wug                  6515
water board          2933
wua                  2535
private operator     1971
parastatal           1768
water authority       904
other                 844
company               685
unknown               561
other - school         99
trust                  78
Name: management, dtype: int64
user-group    52490
commercial     3638
parastatal     1768
other           943
unknown         561
Name: management_group, dtype: int64
never pay                25348
pay per bucket            8985
pay monthly               8300
unknown                   8157
pay when scheme fails     3914
pay annually              3642
other                     1054
Name: payment, dtype: int64
never pay     25348
per bucket     8985
monthly        8300
unknown        8157
on failure     3914
annually       3642
other          1054
Name: payment_type, dtype: int64
soft                  50818
salty                  4856
unknown                1876
milky                   804
coloured                490
salty abandoned         339
fluoride                200
fluoride abandoned       17
Name: water_quality, dtype: int64
good        50818
salty        5195
unknown      1876
milky         804
colored       490
fluoride      217
Name: quality_group, dtype: int64
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity, dtype: int64
enough          33186
insufficient    15129
dry              6246
seasonal         4050
unknown           789
Name: quantity_group, dtype: int64
spring                  17021
shallow well            16824
machine dbh             11075
river                    9612
rainwater harvesting     2295
hand dtw                  874
lake                      765
dam                       656
other                     212
unknown                    66
Name: source, dtype: int64
spring                  17021
shallow well            16824
borehole                11949
river/lake              10377
rainwater harvesting     2295
dam                       656
other                     278
Name: source_type, dtype: int64
groundwater    45794
surface        13328
unknown          278
Name: source_class, dtype: int64
communal standpipe             28522
hand pump                      17488
other                           6380
communal standpipe multiple     6103
improved spring                  784
cattle trough                    116
dam                                7
Name: waterpoint_type, dtype: int64
communal standpipe    34625
hand pump             17488
other                  6380
improved spring         784
cattle trough           116
dam                       7
Name: waterpoint_type_group, dtype: int64

The following columns contain either similar or duplicated data, therefore, in order to avoid multicollinearity one or both of the columns will be dropped:
- *scheme_management *and *management*;
- *extraction_type*, *extraction_type_group* and *extraction_type_class*;
- *payment* and *payment_type*;
- *water_quality* and *quality_group*
- *quantity* and *quantity_group*
- *source* and *source_type*
- *waterpoint_type* and *waterpoint_type_group*

Similarly, the following columns will either be transformed or dropped: 
- columns to be dropped: 
    - *id* as its just an index identifier, *num_private* since its not defined and therefore its relevance is not clear; *recorded_by* since it has the same value throughout the dataset; 
    - *population*, *amount_tsh*, *construction_year*, *longitude*, *latitude*, and *gps_height* have 0 entered on most of their rows. The rows with 0 will be dropped.
- columns to be transformed or feature engineered:
    - *permit* and *public_meeting* are boolean;
    - *wpt_name*, *scheme_name*, *subvillage*, *ward*, *date_recorded*, *funder* are categorical variables with their unique values in integers. Therefore, they will require further analysis and probable use of dummy variables.

In [90]:
# columns to be dropped
drop_cols = ["scheme_management", "extraction_type", "extraction_type_group", 
             "payment", "water_quality", "source_type", "waterpoint_type_group", 
             "id", "num_private", "recorded_by", "quantity", "public_meeting", 
             "wpt_name", "scheme_name", "subvillage", "ward", "date_recorded", 
             "funder", "district_code", "lga", "region_code", "ward", "management_group", 
             "longitude", "latitude", "gps_height", "source"]

#dropping the columns:
data = data.drop(drop_cols, axis=1)

# checking the information of the new dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   status_group           59400 non-null  object
 1   amount_tsh             59400 non-null  float64
 2   installer              55745 non-null  object
 3   basin                  59400 non-null  object
 4   region                 59400 non-null  object
 5   population             59400 non-null  int64
 6   permit                 56344 non-null  object
 7   construction_year      59400 non-null  int64
 8   extraction_type_class  59400 non-null  object
 9   management             59400 non-null  object
 10  payment_type           59400 non-null  object
 11  quality_group          59400 non-null  object
 12  quantity_group         59400 non-null  object
 13  source_class           59400 non-null  object
 14  waterpoint_type        59400 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.8+ MB

The new dataframe has 15 columns and 59400 rows. Its only columns "installer" and "permit" that have missing values. The dataframe is made up of three datatypes: 1 column of type float, 2 columns with type integer and 12 columns with type object.

In [91]:
# dropping the null values
data = data.dropna()

# confirming no null values are remaining
data.isna().sum()

status_group             0
amount_tsh               0
installer                0
basin                    0
region                   0
population               0
permit                   0
construction_year        0
extraction_type_class    0
management               0
payment_type             0
quality_group            0
quantity_group           0
source_class             0
waterpoint_type          0
dtype: int64

In [92]:
# converting permit column to integers
data["permit"] = data["permit"].astype(int)

# checking datatypes of the dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55102 entries, 0 to 59399
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   status_group           55102 non-null  object
 1   amount_tsh             55102 non-null  float64
 2   installer              55102 non-null  object
 3   basin                  55102 non-null  object
 4   region                 55102 non-null  object
 5   population             55102 non-null  int64
 6   permit                 55102 non-null  int32
 7   construction_year      55102 non-null  int64
 8   extraction_type_class  55102 non-null  object
 9   management             55102 non-null  object
 10  payment_type           55102 non-null  object
 11  quality_group          55102 non-null  object
 12  quantity_group         55102 non-null  object
 13  source_class           55102 non-null  object
 14  waterpoint_type        55102 non-null  object
dtypes: float64(1), int32(1), int64(2), object(11)
memory usage: 6.5+ MB

The dataframe shape has been reduced to 15 columns by 55102 rows.

In [93]:
# checking unique values after initial data cleaning
data.nunique()

status_group                3
amount_tsh                 95
installer                2056
basin                       9
region                     21
population               1026
permit                      2
construction_year          55
extraction_type_class       7
management                 12
payment_type                7
quality_group               6
quantity_group              5
source_class                3
waterpoint_type             7
dtype: int64

Categorical variable "installer", requires further investigation since it still has 2056 unique variables which would overwhelm the model. Population is an integer and therefore having different unique values is not problematic.

In [94]:
# viewing the installer column data values
print(data["installer"].unique().tolist())

['Roman', 'GRUMETI', 'World vision', 'UNICEF', 'Artisan', 'DWE', 'DWSP', 'Water Aid', 'Private', 'DANIDA', 'Lawatefuka water sup', 'WEDECO', 'Danid', 'TWE', 'ISF', 'Kilolo Star', 'District council', 'Water', 'WU', 'Not known', 'Central government', 'CEFA', 'Commu', 'Accra', 'World Vision', 'LGA', 'MUWSA', 'KKKT _ Konde and DWE', 'Government', 'Olgilai village community', 'KKKT', 'RWE', 'Adra /Community', 'SEMA', 'SHIPO', 'HESAWA', 'ACRA', 'Community', 'IFAD', 'Sengerema Water Department', 'HE', 'ISF and TACARE', 'Kokeni', 'DA', 'Adra', 'ALLYS', 'AICT', 'KIUMA', 'CES', 'District Counci', 'Ruthe', 'Adra/Community', 'Tulawaka Gold Mine', 'KKT C', 'Water board', 'LOCAL CONTRACT', 'LIPS', 'TASAF', 'World', '0', 'SW', 'Shipo', 'Fini water', 'Kanisa', 'OXFARM', 'VILLAGE COUNCIL Orpha', 'Villagers', 'Idara ya maji', 'FPCT', 'WVT', 'Ir', 'DANID', 'Angli', 'secondary school', 'Amref', 'JBG', 'DADIS', 'International Aid Services', 'RW', 'Dmdd', 'TCRS', 'RC Church', 'WATER AID', 'JICA', 'Gwasco L', 'AF', 'AMREF', 'wananchi', 'FW', 'Central Government', 'MWE &', 'Gove', 'TDFT', 'RWE/DWE', 'Central govt', 'World Bank', 'TWESA', 'Norad', 'Hans', 'FinW', 'FIN WATER', 'OXFAM', 'Plan Internationa', 'District Council', 'RWEDWE', 'Fini Water', 'ANGLI', 'CDT', 'RC CHURCH', 'North', 'Oikos E .Africa', 'SHAWASA', 'UN', 'NORAD', 'Save the rain', 'John gemuta co', 'TLC', 'RC Churc', 'Plan Int', 'Phase', 'LVIA', 'Rhobi', 'Hesawa', 'Makonde water population', 'RWE/ Community', 'Is', 'KILI WATER', 'RDDC', 'FINN WATER', 'FINI WATER', 'DHV', 'Kamama', 'DDCA', 'Victoria company', 'RWSSP', 'Ce', 'KYASHA ENTERPR', 'ERETO', 'REDESO', 'Villa', 'Priva', 'KUWAIT', 'Mw', 'Magadini-Makiwaru wa', 'Dr. Matomola', 'Af', 'RCchurch/CEFA', 'Tardo', 'GOVERNMENT', 'Individuals', 'Chamavita', 'GEN', 'Missi', 'Safari Roya', 'DAWASCO', 'Gover', 'Mission', 'DWE/', 'Halmashauri ya wilaya sikonge', 'Ki', 'Rhoda', 'HAPA SINGIDA', 'Consulting Engineer', 'Karugendo', 'Co', 'Marafip', 'COSMOS ENG LTD', 'World banks', 'WFP', 'Tanz', 'Handeni Trunk Main(', 'SIMBA CO', 'Local technician', 'Village', 'Centr', 'CONS', 'DW', 'DCT', 'District water department', 'Sabodo', 'MLADE', 'I.E.C', 'LWI', 'Kiliflora', 'ICS', 'T. N. karugendo', 'DED', 'Kuwait', 'ADP', 'JUIN CO', 'TPP', 'GOVER', 'CIPRO/Government', 'MWE', 'MTUWASA', 'Unisef', 'REGIONAL WATER ENGINEER ARUSHA', 'IDARA', 'Wizara ya maji', 'Tasaf and Lga', 'JAICA', 'KKKT-Dioces ya Pare', 'Onesm', 'Te', 'MTN', 'HESAWS', 'Islamic', 'Local', 'KTA C', 'RC', 'Killflora /Community', 'Distri', 'Maji block', 'CALTAZ KAHAMA', 'GOVERNME', 'Omar Ally', 'HAM', 'QUWKWIN', 'ADRA', 'DO', 'DH', 'RC Ch', 'SAXON BUILDING CONTRACTOR', 'Bokera W', 'Bulyahunlu Gold Mine', 'MBIUWASA', 'ADRA /Government', 'The Isla', 'Rotary club', 'YELL LTD', 'KIMKUM', 'Tanesco', 'CJEJOW CONSTRUCTION', 'Victoria', 'TLTC', 'Wachina', 'WE', 'HSW', 'Communit', 'Kibaha Town Council', 'Dr. Matobola', 'Go', 'DWR', 'Huches', 'WATERAID', 'Maswi company', 'Kiliwater', 'TA', 'wanan', 'MEM', 'Region water Department', 'Jeica', 'Ndanda missions', 'District Water Department', 'MSF/TACARE', 'Fathe', 'DARDO', 'Wa', 'MSIKIT', 'Regional Water', 'D', 'VILLAGE COUNCIL', 'RDC', 'TLC/John Majala', 'Kilwa company', 'Local  technician', 'TASSAF', 'VWC', 'PIDP', 'TAN PLANT LTD', 'Japan Government', 'Kata', 'GTZ', 'ISF/Government', 'KUWASA', 'Hydrotec', 'Pr', 'Ch', 'Jaica', 'Taboma/Community', 'P', 'Ubung', 'Chur', 'BESADA', 'Action Contre La Faim', 'Wanjoda', 'CBHCC', 'HW/RC', 'Sumbaw', 'CCEC', 'Nice', 'CCT', 'World Vission', 'Inter', 'DMMD', 'WORLD BANK', 'AQUA BLUES ANGELS', 'MACK DONALD CONTRACTOR', 'Water Aid /sema', 'Henure Dema', 'Kirdep', 'ADRA/Government', 'Kilwater', 'Da', 'Villi', 'KOYI', 'AD', 'Arab community', 'District water depar', 'HOLLAND', 'RC church/Central Gover', 'Active MKM', 'GEOTAN', 'LENCH', 'NCAA', 'CHINA HENAN CONSTUCTION', 'Kaembe', 'Ma', 'FinWater', 'Kuamu', 'Adra/ Community', 'Locall technician', 'UKILIG', 'Mbunge', 'The desk and chair foundat', 'DUWAS', 'Diwani', 'Biore', 'Water aid /sema', 'KKKT CHURCH', 'EA', 'Halmashauri ya manispa tabora', 'ML appro', 'SHY BUILDERS', 'Finwater', 'JIKA', 'Orien', 'DMDD', 'DWE}', 'CDTF', 'KAEMP', 'TUWASA', 'MARAFIP', 'MDRDP', 'Jeshi la wokovu', 'kuwait', 'MBOMA', 'Grobal resource alliance', 'Village Council', 'Shamte Said', 'AUWASA', 'WSDP', 'COUN', 'KIDP', 'Mombo urban water s', 'TRIDEP', 'Wananchi', 'Martha Emanuel', 'St', 'GIDA contractor', 'WD and ID', 'Padep', 'Po', 'Village Counil', 'MINISTRY OF WATER', 'Ga', 'K', 'Swiss If', 'Miziriol', 'Yasini Selemani', 'DBSPE', 'European Union', 'H', 'TPP TRUSTMOSHI', 'Atisan', 'Jika', 'ISF/TACARE', 'Oikos E.Africa', 'Hydom Luthelani', 'Kalumbwa', 'ILCT', 'MS', 'RUVUMA BASIN', 'Gold star', 'Mi', 'Mzungu Paul', 'Kanisa katoliki', 'Caltas', 'RED CROSS', 'World bank', 'Losaa-Kia water supp', 'Jica', 'PET', 'Finland Government', 'GAICA', 'Institution', 'TCRS/TLC', 'Loliondo Parish', 'GACHUMA CONSTRUCTION', 'Diocese of Geita', 'Villages', 'Total landcare', 'VICTORIA DRILL CO', 'U.S.A', 'VTECOS', 'COW', 'Vill', 'Contr', 'Wadeco', 'KIM KIM CONSTRUCTION', 'Msabi', 'VC', 'CMSR', 'Ko', 'Roman Catholic Rulenge Diocese', 'Shule', 'W', 'inkinda', 'Africa Amini Alama', 'Consultant', 'L', 'Moroil', 'Sekei village community', 'US Embassy', 'PIT COOPERATION  LTD', 'Do', 'world', 'Government /TCRS', 'UNHCR', 'DESK C', 'Dr.Matomola', 'FOLAC', 'Village govt', 'BSF', 'Roman Cathoric Same', 'RWE/Community', 'Mileniam project', 'Ncaa', 'Africa Islamic Agency Tanzania', 'Max Mbise', 'DADS', 'Institutional', 'SOWASA', 'CCPK', 'AUSTRALIA', 'not known', 'Kalago enterprises Co.Ltd', 'Roman Catholic', 'NANRA contractor', 'No', 'ADP Busangi', 'TSRC', 'SOLIDAME', 'Barry A. Murphy', 'Tanzania Government', 'WILLIAMSON DIAMOND LTD', 'TAG', 'The I', 'Total Landcare', 'CENTRAL GOVERNMENT', 'Arabs Community', 'Secondary school', 'Water Aid/Sema', 'Jiks', 'Konoike', 'ABASIA', 'LAMP', 'SINGIDA YETU', 'RWSP', 'MDALA Contractor', 'Netherlands', 'DWT', 'TCRS /CARE', 'Makonde', 'Japan', 'Milenium', 'Goldstar', 'District COUNCIL', 'MUWASA', 'Green', 'Kigoma municipal', 'KINAPA', 'CHINA HENAN CONTRACTOR', 'Musa', 'TANAPA', 'Ministry of water engineer', 'EFG', 'MASWI', 'Roman Cathoric -Kilomeni', 'Mbozi Secondary School', 'TASAF/DMDD', 'MWS', 'Roman catholic', 'Shekhe', 'Rished', 'KONOIKE', 'Pata', 'TAHEA', 'Luthe', 'Kalta', 'Pentecost church', 'Amboni Plantation', 'Municipal', 'Sekondari', 'Kalitasi', 'HOTELS AND LOGGS TZ LTD', 'DISTRICT COUNCIL', 'Germany', 'Orphanage', 'WWF', 'W.B', 'IDYDC', 'SIA Ltd', 'WINAM  CONSTRUCTION', 'RIDEP', 'NORA', 'SCHOOL', 'Village community', 'British', 'Msuba', 'Villaers', 'TLC/Thimotheo Masunga', 'WB', 'Council', 'DAK', 'COCANE', 'WINAMU CO', 'Ubalozi wa Marekani', 'Conce', 'BGM', 'DMK', 'Mviwa', 'KA', 'MGM', 'AIMGOLD', 'YEBE CHIKOMESH', 'Omari Mzee', 'Camartec', 'Total land care', 'DASP', 'Islamic Agency Tanzania', 'Tanz Egypt technical coopera', 'Village Govt', 'local technician', 'TAWASA', 'WATER  AID', 'AAR', 'MSF', 'Di', 'Mackd', 'MAMAD', 'PADEP', 'Fabia', 'CONCERN', 'ITALI', 'Water aid/sema', 'Save the rain USA', 'Plan Tanzania', 'Roman Church', 'Singasinga', 'RC/Mission', 'In', 'V', 'Korogwe water works', 'PCI', 'Atlas', 'DWE /TASSAF', 'Local te', 'World Division', 'Gwaseco', 'Kambi Migoko', 'AI', 'Nyakilanganyi', 'DEE', 'MANYARA CONSTRUCTION', 'Rotte', 'KMCL', 'LINDALA CO', 'Government /Community', 'CCPS', 'SI', 'Rundu man', 'Water Aid/sema', 'Naishu construction co. ltd', 'WOULD BANK', 'Mark', 'Cosmo', 'Halmashauri', 'Concern /government', 'Quick win project', 'Mh Kapuya', 'Halmashauri ya wilaya', 'Edward', 'COMMU', 'Baric', 'Consuting Engineer', 'FiNI WATER', 'CPRO', 'Jicks', 'Wahidi', 'Mohamed Ally', 'ASDP', 'CITIZEN ENGINE', 'KADP', 'Dar es salaam Technician', 'Halmashauli', 'ACORD', 'MA', 'Water  Aid/Sema', 'RC church/CEFA', 'Wedeco', 'DWE/Ubalozi wa Marekani', 'VIFAFI', 'WORLD VISION', 'Cosmos Engineering', 'OLDONYOLENGAI', 'NYAKILANGANI CO', 'Village Community', 'MINJINGU', 'EL', 'Songa', 'Consultant and DWE', 'AC', 'Gain', 'DASIP', 'TANROAD', 'Tasaf', 'Wasso', 'Teonas Wambura', 'Mgaya Masese', 'TUKWALE ENTERP', 'Sao', 'MWAKI CONTRACTOR', 'VIEN CONSTRUCTION', 'DADS/village community', 'Africare', 'Mosque', 'Chiko', 'central government', 'VITECOS', 'IN', 'Msikiti', 'Word Bank', 'Kwamdulu estate', 'SEMA Consultant', 'Concern', 'Belgiam Government', 'Wanan', 'Exaud Msambwa', 'Niger', 'MWANZA', 'SONGAS', 'MINISTRYOF WATER', 'COMMUNITY', 'Zaburi and neighbors', 'NDM', 'Killflora/ Community', 'PART', 'secondary', "lion's club", 'lutheran church', 'Mileniam', 'Canada na Tanzania', 'FRANKFURT', 'GOVERM', 'Kuji foundation', 'Mamvua Kakungu', 'Rusumo Game reserve', 'MTUWASA and Community', 'UMOJA DRILLING', 'KkKT', 'Mzinga A', 'RE', 'SUA', 'RUNDAGA', 'RWE /Community', 'Wo', 'Happy watoto foundation', 'GDP', 'ViLLAGE COUNCIL', 'MBULU DISTRICT COUNCIL', 'Maliasili', 'Roman Ca', 'NZILA', 'AFRICAN DEVELOPMENT FOUNDATION', 'FPTC', 'KARUMBA BIULDING COMPANY LTD', 'Kalugendo', 'Village Government', 'Tabraki', 'MASWI DRILLING', 'Ikela Wa', 'Shallow well', 'WEDECO/WESSONS', 'CIPRO/CARE/TCRS', 'Care international', 'Wasso contractors', 'villagers', 'Mwanga town water authority', 'Jumanne Siabo', 'Mama Kalage', 'Hindu', 'Rural', 'TANAP', 'Makonde water supply', 'villigers', 'Bingo foundation Germany', 'Ilwilo community', 'St ph', 'WDECO', 'LIVI', 'Pet Corporation Ltd', 'DWE & LWI', 'LC', 'KKKT Leguruki', 'HIAP', 'DIMON', 'Italy government', 'MASWI DRILL', 'WVC', 'TACRI', 'Hasnein Murij', 'Faudh Tamimu', 'Free Pentecoste Church of Tanz', 'Summit for water/Community', 'Sanje Wa', 'Makundya', 'JANDU PLUMBER CO', 'Individual', 'OLA', 'RC C', 'TREDEP', 'Consultant Engineer', 'AQUA WEL', 'Cental Government', 'Nyanza road', 'Kizenga', 'KKT', 'HAPA', 'Oikos E. Africa', 'Ramadhani Nyambizi', 'Mdala Contractor', 'DENISH', 'Mkuyu', 'GOVERN', 'GACHUMA GINERY', 'Resolute', 'Morrov', 'Serikali ya kijiji', 'Counc', 'Igolola community', 'S', 'NYAKILANGANI CONSTRUCTION', 'RDWS', 'Said Omari', 'AFRICA MUSLIM', 'IADO', 'W/', 'Ngiresi village community', 'UDC/Sema', 'AMP contractor', 'rc ch', 'QWICKWIN', 'TLC/Samora', 'Oikos E.Afrika', 'Ruangwa contractor', 'HAYDOM LUTHERAN HOSPITAL', 'VICFISH LTD', 'Lindi contractor', 'RC CH', 'Kilomber', 'Pet Coporation Ltd', 'Afroz Ismail', 'Ja', 'commu', 'Sisal Estste Hale', 'KOREA', 'CVS Miss', 'Songas', 'Living water international', 'Kajima', 'Missio', 'UAACC', 'GERMANY MISSIONARY', 'MI', 'Rips', 'LVA Ltd', 'BUKUMB', 'Taasi', 'STAMPERS', 'Meru Concrete', 'WIZARA', 'MLAKI CO', 'Segera Estate', 'WADECO', 'Hospi', 'Cebtral Government', 'local  technician', 'Siza Mayengo', 'SAXON', 'Greec', 'KASHERE', 'GURUMETI SAGITA CO', 'China', 'MP', 'Islam', 'water board', 'AMP Contract', 'Thomasi busigaye', 'Local technitian', 'SIJM', 'KKKT Ndrumangeni', 'YUMBAKA ENGINEERING', 'Usambala sisters', 'KOBERG Contractor', 'hesawa', 'Water Authority', 'Mr Chi', 'Hearts helping hands.Inc.', 'IDEA', 'Selous G', 'SULEMAN IDD', 'Pump entecostal Sweeden', 'Nyabarongo Kegoro', 'Canop', 'QUIK', 'DADP', 'Kanisani', 'CARTAS', 'Mzung', 'wizara ya maji', 'VILLAGE COUNCIL .ODA', 'CG', 'Caltus', 'Cons', 'malola', 'DCCA', 'Water Project Mbawala chini', 'Unicef', 'Totoland care', 'Maswi drilling co ltd', 'NDDP', 'KMT', 'NGINIL', 'RC church', 'VILLAG', 'Local technical tec', 'Cultus', 'T', 'Hery', 'OBC', 'RUDEP', 'RWE Community', 'Nyamongo Gold mining', 'Redep', 'Norani', 'Mahita', '-', 'Villag', 'germany', 'KARUMBA BIULDIN', 'AIXOS', 'Selikali', 'DDP', 'Village government', 'Zacharia MTN', 'Africa', 'PAD', 'KASHWA', 'TWENDE PAMOJA', 'Uhai wa mama na mtoto', 'OLOMOLOKI', 'Ardhi water well', 'Distric Water Department', 'Conta', 'SHUWASA', 'Makori', 'Sangea District Coun', 'CHINA', 'British colonial government', 'Maendeleo ya jamii', 'CARITAS', 'Taes', 'KWIKWIZ', 'SEMA CO LTD', 'SENAPA', 'REGWA COMPANY OF EGYPT', 'COBASHEC', 'AQUA Wat', 'Dr.Matobola', 'Central basin', 'Mamlaka ya maji ngara', 'PRF', 'Church', 'Magadini Makiwaru wa', 'Mpang', 'KAYEMPU LTD', 'TRACHOMA', 'FURAHIA TRADING', 'HESAW', 'Moravian', 'Samsoni', 'MD', 'GURUMETI SAGITA', 'Songea District Coun', 'Cast', 'N.P.R.', 'Panone', 'Hemed Abdallah', 'Lawate fuka water su', 'St Gasper', 'Ha', 'MMG GOLD MINE', 'P.N.R.', 'Nandra Construction', 'Mchuk', 'African Realief Committe of Ku', 'SCOTT', 'D$L', 'Vi', 'JLH CO LTD', 'Msiki', 'Namungo', 'Nassor Fehed', 'TWESA /Community', 'DBFPE', 'EF', 'Serikali', 'Mgaya Mwita', 'Clause workers', 'MLAKI  CO', 'Busoga trust', 'mzee mabena', 'SAUWASA', 'NORAD/', 'BR', 'local technitian', 'Comunity', 'Brad', 'Tanganyika Basin', 'MORNING CONSTRUCTION', 'Healt', 'Governme', 'Roma', 'KUMKUM', 'PNR co', 'Muslims', 'Paffec', 'Tansi', 'CRAELIUS', 'APM', 'Zao water spring X', 'TASA', 'CSPD', 'DALDO', 'VIFAF', 'MTC', 'TCRS Kibondo', 'Howard and humfrey consultant', 'RUDEP/', 'LUNGWE', 'Dhinu', 'AIC KI', 'Mataro', 'FINI Water', 'Mombo urban water', 'REDAP', 'Kagulo', 'TMP', 'Nimrod Mkono[mb]', 'Red Cross', 'SHULE', 'Maro', 'WEDEKO', 'MSABI', 'UN ONE', 'BRA', 'MasjId Takuar', 'SUWASA', 'TWIG', 'Tanzania Egypt Technical Co Op', 'TCRS.TLC', 'Lutheran', 'TASF', 'RC CATHORIC', 'TASAF and Comunity', 'world banks', 'Eliza', 'MAKE ENGINEERING', 'Halmashauri wilaya', 'EFAM', 'TASAF/', 'Mgaya', 'Grail Mission Kiseki bar', 'RUDE', 'local technical tec', 'Lga', 'JHL CO LTD', 'Ansnani Murij', 'LIUWASSA', 'USTAWI', 'GERMAN', 'NSSF', 'Cefa', 'Kilol', 'Judge Mchome', 'Milenia', 'AMP Contracts', 'Masjid', 'MSIKITI', 'Government /SDA', 'FARM-AFRICA', 'Mama Agnes Kagimbo', 'UNIVERSAL CONSTRUCTION', 'BFFS', 'KYELA_MOROGORO', 'Msikitini', 'HDV', 'Shelisheli commission', 'JALCA', 'Mungaya', 'AIC', 'Boni', 'TGTS', 'TCRS /Government', 'Adam mualuaka', 'unknown', 'IRC', 'ADB', 'Enyueti', 'Regina group', 'Seram', 'ADAP', 'JI', 'Laizer', 'Salehe', 'MASAI LAND', 'HPA', 'People P', 'Oikos E Africa', 'AQUARMAN DRILLERS', 'W.D &', 'Wafidh', 'Kitukuni water supply', 'Rural Drinking Water Supply', 'Morovian church', 'WOYEGE', 'ATIGH BUILDINGS', 'Muslimu Society(Shia)', 'Pankrasi', 'IREVEA SISTER', 'IUCN', 'KDC', 'Morovian Church', 'JAPAN EMBASSY', 'INDIVIDUALS', 'Dwe', 'Italian government', 'Marti', 'R.C', 'GREINAKER', 'Totoland', 'Bahresa', 'Mwalimu  Muhenza', 'CEFA/rc church', 'PRINCE MEDIUM SCHOOL', 'Kaluwike', 'TCRS /TWESA', 'MAKAMA CONSTRUCTION', 'Tanzania', 'Seleman Masoud', 'RC mission', 'Babu Sajini', 'W.D. and I.D.', 'Word divisio', 'Ardhi Instute', 'DIOCESE OF MOUNT KILIMANJARO', 'VICKFI', 'JUIN', 'Singida General  Supplies  Ltd', 'ISF / TASAFF', 'DE', 'Ubalozi wa Marekani /DWE', 'Muwaza', 'Chacha Issame', 'Villege Council', 'Kilimarondo Parish', 'NYAKILANGANI', 'Tempo', 'Danda', 'SIMAVI', 'RURAL WATER SUPPLY', 'Rotary Club', 'COYI', 'Yakwetu Contractor', 'CGI', 'Ta', 'BRUDER', 'TRUST', 'shule', 'Said Hashim', 'TLC/Nyengesa Masanja', 'Miomb', 'Staford Higima', 'CF Builders', 'Waheke', "LION'S", 'Icf', 'private', 'Ardhi Water Wells', 'TWESA/ Community', 'Private individuals', 'MISHENI', 'MASWI DRILLING CO. LTD', 'GGM', 'SPAR DRILLING', 'John kiminda co', 'Missionary', 'FAUSTINE', 'Gwasco', 'ms', 'District  Council', 'Engin', 'PMO', 'Village council', 'NIRAD', 'COWI', 'LGCDG', 'EGYPT REGWA', 'Athumani  Janguo', 'Geita Goldmain', 'GREINEKER', 'Tareto', 'Teresa Munyama', 'KKKT DME', 'Maswi', 'MAJI MUGUMU', 'Issa Mohamedi Tumwanga', 'Morovian', 'Fin water', 'American', 'Anglican Church', 'BENGUKA', 'William Acles', 'Jackson Makore', 'MISSION', 'Mr Kwi', 'Hanja Lt', 'ABDUL', 'Mwanamisi Ally', 'KAWINGA', 'Tanapa', 'ODA', 'ACTION AID', 'Juma Maro', 'W.C.S', "Okong'o", 'Water Department', 'VITECOS INVEST', 'local fundi', 'LEI', 'Water department', 'St Elizabeth Majengo', 'JSICA', 'Calvary connection', 'TANZANIAN GOVERNMENT', 'Local technical', 'Stephano', 'JAWABU', 'J. Mc', 'OLS', 'wasab', 'Domnik', 'Nyakaho Mwita', 'G.D&I.D', 'Daniel', 'Ifakara', 'EMAYO', 'Amec', 'Rotery c', 'DAR ES SALAAM ROUND TABLE', 'VICTORIA DRILL', 'Rc', 'BKHWS', 'Njula', 'Nampopanga', 'marafip', 'Mzee Waziri Tajari', 'TUMAINI FUND', 'Fin Water', 'BEMANDA', 'Nassan workers', 'Consulting engineer', 'Quick win project /Council', 'Piscop', 'Farm Africa', 'is', 'FINLAND', 'Mwl. Nyerere sec. school', 'DWE&', 'Rps', 'Idara ya Maji', 'Church Of Disciples', 'COEK', 'nandra Construction', 'Marumbo Community', 'Ju', 'VW', 'PATUU', 'TANAS', 'Nyeisa', 'Mwakabalula', 'TASSAF /TCRS', 'Machibya', 'MDRD_', 'WORDL BANK', 'ANGLIKANA CHURCH', 'DDCA CO', 'Mianz', 'Desk and chair foundation', 'ELCT', 'Ungan', 'Eastmeru medium School', 'EMANDA', 'ENO', 'Losa-kia water suppl', 'Secondary', 'Wilson', 'KILANGANI CO', 'Africa Muslim Agenc', 'WINAM CO', 'Ar', 'Mbozi District Council', 'Village  Council', 'Villagerd', 'LUWASSA', 'Raymond Ekura', 'JAICA CO', 'J LH CO LTD', 'Bobby', 'Municipal Council', 'ACTIVE TANK CO LTD', 'Quik', 'Concen', 'Tom', 'Howard and Humfrey Consultants', 'Zuber Mihungo', 'Mwl. Nyerere sec.school', 'SIDA', 'Efarm', 'NG', 'TANZAKESHO', 'RWI', 'ACTIVE TANK CO', 'Mzee Omari', 'Msig', 'Overland High School', 'KAGERA MINE', 'DWE/TASSAF', 'Adam Kea', 'Rashid Mahongwe', 'NAFCO', 'Belgij', 'Kalitesi', 'Water user Group', 'MW', 'harison', 'MIDA', 'Plan International', 'Makuru', 'MSIGWA', 'Singida yetu', 'MINISTRY OF EDUCATION', 'Centra govt', 'HESAWZ', 'CONCE', 'B.A.P', 'R', 'Nasan workers', 'TWESS', 'Wizara  ya maji', 'Water Hu', 'KK', 'CIP', 'Monmali', 'DW$', 'KARUMBA BIULDING CONTRACTOR', 'Maji Tech', 'DSPU', 'Nu', 'AFRICA', 'CCP', 'Upendo Group', 'GRUMETI SINGITA', 'WA', 'Insititutiona', 'kanisa', 'Colonial Government', 'TUKWARE ENTERP', 'ANGRIKANA', 'church', 'Anglican church', 'TASAFcitizen and LGA', 'SHIP', 'Zingibali Secondary', 'KAEM', 'Tajiri Jumbe Lila', 'SAXON  BUILDING CONTRACTOR', 'Ngelepo group', 'VILLAGERS', 'Nduku village', 'Amadi', 'Jafary Mbaga', 'Sa', 'Water hu', 'Luleka', "TLC/Seleman Mang'ombe", 'Lutheran Church', 'Railway', 'Laramatak', 'TASAF and MMEM', 'DSV', 'WUA', 'Saleh Zaharani', 'HESAWQ', 'Action Contre la Faim', 'KIDIJAS', 'Mwalimu  Muhenzi', 'Heri mission', 'Africaone', 'Misri Government', 'Gtz', 'GLOBAL RESOURCE CONSTRUCTION', 'GERMAN MISSIONSRY', 'Total land Care', 'Tanzanian Government', 'LOMOLOKI', 'Halmashauri ya mburu', 'UMOJA DRILLING CONSTRUCTION', 'Mayiro', 'K/Primary', 'DANIDA CO', 'TSCR', 'Mohamad Masanga', 'EWE', 'VILLAGER', 'SCHOO', 'Atlas Company', 'Got', 'CIPRO', 'Sacso', 'NMDC INDIA', 'NSC', 'Water  Aid/Maji tech', 'Hussein Ayubu', 'Government and Community', 'COMMUNITY BANK', 'Villager', 'TASAF 1', 'Ns', 'Mkulima', 'Baadela', 'SAIDI CO', 'SOLIDARM', 'Filber', 'Runduman', 'Tanza', 'DSP', 'Rotary club Australia', 'J mal Abdallah', 'Rotar', 'Anglikana', 'Private owned', 'KARUMBA BUILDING COMPANY LTD', 'Maswi Company', 'Kuwaiti', 'MACK DONALD CO LTD', 'DASSIP', 'Yoroko mwalongo', 'Subvillage', 'Holili water supply', 'MTAMBO', 'Nyabweta', 'UDC/sema', 'Misana george', 'Livi', 'Moyowosi', 'DAWASA', 'Pet  Corporation  Ltd', 'Mtwara Technician', 'ISSAA KANYANGE', 'Megis', 'MANDIA CONSTRUCTION', 'Recoda', 'USAID', 'African Muslims Age', 'Serikari', 'RO', 'BGSS', "NGO'S", 'ANSWAR', 'DMDD/SOLIDER', 'Word bank', 'KOICA', 'Team Rafiki', "TAG Patmo's", 'Water use Group', 'KKKT Kilinga', 'O', 'Buguba', 'Babu Sajin', 'Sh', 'wananchi technicians', 'Cetral government /RC', 'DANNY', 'Indi', 'Billy Phillips', 'Wamissionari wa kikatoriki', 'Kapelo', 'Water authority', 'local', 'JANDU PLUMBER  CO', 'PNR Da', 'Tanz/Egypt technical coopera', 'Masjid Nnre', 'Ahmad', 'Dydrotec', 'Red cross', 'DANIAD', 'Private Technician', 'JACKSON MAHAMBO', 'Unknown', 'Rombo Dalta', 'Jeshi la wokovu [cida]', 'Mwita Machoa', "Lion's", 'WDP', 'GRA', 'SDP', 'Pentecostal church', 'KISIRIRI ADP', 'Kitiangare village community', 'Bridge north', 'Mtewe', 'ONESM', 'DFID', 'Ox', 'Water AID', 'Water /sema', 'Presadom', 'ir', 'Seif Ndago', 'AQUA Wel', 'Linda', 'Inves', 'Dawasco', 'Sweeden', 'KEREBUKA', 'School Adminstrarion', 'Friend from UN', 'Mombo urban  water', 'Kijiji', 'Village Technician', 'Building works Company Ltd', 'F', 'VTTP', 'Zao', 'TECH SUPPORT BEST CO', 'CG/RC', 'MH Kapuya', 'E ETO', 'A

In [95]:
#exporting installer column details to a file
data['installer'].to_csv('data/column_details.csv', index=False)

In [96]:
# correcting typos on the installer column

data["installer"] = data["installer"].replace(to_replace=(
    'World vision', 'World Vision', 'world vision', 'World Visiin', 'World Division', 
    'WORLD VISION'), value="World Vision")

data["installer"] = data["installer"].replace(to_replace=(
    'Central government', 'Government', 'Central Government','GOVERNMENT', 'Tanzania Government', 
    'CENTRAL GOVERNMENT', 'Government /Community', 'Concern /government', 'central government',
    'Cental Government','Cebtral Government', 'TANZANIAN GOVERNMENT', 'Tanzanian Government',
    'Government and Community', 'Cetral government /RC', 'Tanzania government', 'Centra Government',
    'GOVERNME', 'GOVER', 'Gover','Central govt', 'Gove', 'GOVERM', 'GOVERN',
    'Centra govt', 'Cetral government', 'Governmen', 'TZ as', 'Jumuiya', 'Jumuhia', ), 
                                              value="Central Government")

data["installer"] = data["installer"].replace(to_replace=(
    'World Bank', 'World banks', 'WORLD BANK', 'World bank','WOULD BANK', 'Word Bank',
    'world banks', 'WORDL BANK', 'Word bank', ), 
                                              value="World Bank")

data["installer"] = data["installer"].replace(to_replace=('UNICRF', 'Unicef', 'Unisef'), 
                                              value="UNICEF")

data["installer"] = data["installer"].replace(to_replace=(
    'JICA', 'JIKA', 'Jika', 'Jica', 'Jiks', 'JAICA','Jaica', 'JAICA CO', 'Jeica', 'GAICA'), 
                                              value="JICA")

data["installer"] = data["installer"].replace(to_replace=(
    'Olgilai village community', 'VILLAGE COUNCIL Orpha', 'Villagers', 'Villa', 
    'Villages', 'Vill', 'Village', 'VILLAGE COUNCIL', 'Villi', 'Village Council', 
    'Village Counil', 'Sekei village community', 'Village govt', 'Village community', 
    'Villaers', 'Village Govt', 'ViLLAGE COUNCIL', 'villagers', 'Village Government', 
     'villigers', 'VILLAGE COUNCIL .ODA','VILLAG', 'Villag', 'Villege Council', 
     'Villagerd','VILLAGERS', 'Nduku village','Subvillage', 'Kitiangare village community', 
     'Village Technician', 'Oldadai village community', 'VILLAGE WATER COMMISSION', 
     'villager','Village Office', 'Village community members', 'Nyamingu subvillage',
     'Village water committee', 'Village water attendant', 'Village local contractor'), 
                                              value="VILLAGE")

data["installer"] = data["installer"].replace(to_replace="0", value="Unknown")

data["installer"] = data["installer"].replace(to_replace=(
    'Adra/ Community',  'Arab community', 'Taboma/Community','Communit', 'Killflora /Community',
    'RWE/ Community', 'Olgilai village community', 'Commu', 'Sekei village community', 'COMMU',
    'COMMUNITY', 'Ilwilo community', 'Igolola community', 'Comunity', 'Marumbo Community', 
    'Maseka community','Islamic community', 'District Community j' ), 
                                              value="COMMUNITY")

data["installer"] = data["installer"].replace(to_replace=(
    'Fini water', 'FinW', 'FIN WATER','FINN WATER', 'FINI WATER', 'FinWater', 
    'FiNI WATER', 'FINI Water', 'Fin water', 'FinWate', ), 
                                              value="FINI WATER")

data["installer"] = data["installer"].replace(to_replace=(
    'District council','District Counci' 'District Council','District water department', 
    'Distri', 'District Water Department', 'District water depar', 'District COUNCIL',
    'DISTRICT COUNCIL', 'MBULU DISTRICT COUNCIL', 'Sangea District Coun', 
    'Songea District Coun', 'Mbozi District Council'), 
                                              value="DISTRICT COUNCIL")

data["installer"] = data["installer"].replace(to_replace=(
    'RC Church', 'RC CHURCH','RC Churc', 'RCchurch/CEFA', 'Chur',
    'RC church/Central Gover', 'KKKT CHURCH', 'Pentecost church', 'Roman Church', 
    'RC church/CEFA', 'lutheran church', 'Free Pentecoste Church of Tanz', 'RC C', 
    'Church', 'Morovian church', 'CEFA/rc church', 'Anglican Church', 'Church Of Disciples', 
    'ANGLIKANA CHURCH', 'ANGRIKANA', 'church', 'Anglican church', 'kanisa', 
    'Lutheran Church', 'Pentecostal church','Jeshi la wokovu [cida]', 'METHODIST CHURCH',
    'CHURCH', 'morovian church', 'Angrikana', 'HAIDOMU LUTHERAN CHURCH','RC CHURCH BROTHER', 
    'St Magreth Church', 'Pentecosta','rc church', 'Anglica Church', 'RC Mi', 
    'BAPTIST CHURCH OF TANZANIA', 'FPCT Church', 'RC .Church','BATIST CHURCH', 'CHURC', 
    'DWE/Anglican church', 'RC Churc','RCchurch/CEFA', 'RC', 'RC Ch','HW/RC' 'RC CH',
    'rc ch','RC CATHORIC', 'RC mission',  'Church Of Disciples', 'CG/RC', 'RC MISSIONARY', 'RC Msufi', 
    'Rc Mis','Jeshi la Wokovu'), 
                                              value="CHURCH")

data["installer"] = data["installer"].replace(to_replace=(
    'DANIDA', 'Danid', 'DANID', 'DANIDA CO','DANIAD', 'DANIDS' ), 
                                              value="DANIDA")

data["installer"] = data["installer"].replace(to_replace=(
    'HESAWA', 'Hesawa', 'HESAWS',  'hesawa', 'HESAW', 'HESAWZ', 'HESAWQ', 'Hesawz', 'HesaWa',   ), 
                                              value="HESAWA")

data["installer"] = data["installer"].replace(to_replace=(
    'KKKT _ Konde and DWE','KKKT','KKKT-Dioces ya Pare', 'KkKT', 'KKKT Leguruki', 
    'KKKT Ndrumangeni','KKKT DME', 'KKKT Kilinga', 'KKKT Canal', 'KKKT Katiti juu', 
    'KKKT MAREU', 'Kkkt'), 
                                              value="KKKT")
# viewing the top 30 installer values after initial cleaning
data["installer"].value_counts().head(30)

DWE                   17361
Central Government     3587
DANIDA                 1676
HESAWA                 1225
RWE                    1203
COMMUNITY              1162
KKKT                   1091
DISTRICT COUNCIL        817
Unknown                 780
TCRS                    702
World Vision            671
CHURCH                  647
CES                     610
FINI WATER              572
Community               552
District Council        546
VILLAGE                 514
JICA                    427
LGA                     408
WEDECO                  397
TASAF                   390
UNICEF                  333
TWESA                   316
AMREF                   313
WU                      301
Dmdd                    286
ACRA                    277
SEMA                    249
DW                      246
OXFAM                   234
Name: installer, dtype: int64

## **3.2 EDA**

# **4. Modelling**

# **5. Evaluation**

# **6. Conclusion and Recommendation**
## **6.1 Conclusion**

## **6.2 Recommendations**